In [ ]:
x=12
x

In [ ]:
x +=2
x

In [14]:
#python 2 will not understand that 5/9 is a float and will return first digit onls (0 in this case), one of the numbers has to be a float!
def fahr_to_kelvin(temp):
    converted = ((temp - 32)*(float(5) / 9) + 273.15)
    #or
    converted = ((temp - 32)*(5.0 / 9) + 273.15)
    return converted

In [ ]:
result = fahr_to_kelvin(1000)
result

In [ ]:
print(fahr_to_kelvin(1000))

In [ ]:
20/9

In [15]:
def kelvin_to_Celsius(temp_k):
    converted = temp_k - 273.15
    return converted

In [ ]:
kelvin_to_Celsius(0)

In [19]:
def fahrenheit_to_Celsius(temp_f):
    temp_k= fahr_to_kelvin(temp_f)
    result = kelvin_to_Celsius(temp_k)
    return result

In [20]:
fahrenheit_to_Celsius(32)

0.0

In [ ]:
def join_words(a, b):
    result=a+" "+b
    return result

In [ ]:
join_words("My name is", "Norman")

In [ ]:
def outer(z):
    a=z[0]
    b=z[-1]
    result=a+b
    return result

In [ ]:
outer("helium")

In [9]:
my_numbers=[1,2,3,4,5,6,7,8,9]
#result multiply everything by 5
def sum_numbers(numbers_to_multiply):
    new_numbers=[]
    for x in numbers_to_multiply:   
        new_numbers.append(x)
    for x in numbers_to_multiply:   
        y = x*5
        new_numbers.append(y)
    return new_numbers

In [10]:
sum_numbers(my_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 10, 15, 20, 25, 30, 35, 40, 45]